<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--选择所使用的数据库访问类-->
    <add key="DBHelperName" value="DBHelperSQLServer"/>
    <!--数据库访问字符串-->
    <add key="connStr" value="Data Source=localhost;Initial Catalog=sanxiang;Integrated Security=True"/>
   
  </appSettings>
</configuration>